@media (min-width: 1620px) {
  .container {
    max-width: 1600px;
    width: 100%;
  }
}

@media (max-width: 1600px) {
  .container {
    max-width: 1140px;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
    width: 100%;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 720px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .container {
    //max-width: 540px;
    width: 100%;
  }
}

@media (max-width: 575px) {
  .container {
    width: 100%;
  }
}